* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}


.mainLayout .ant-layout-header {
  padding: 0;
  height: auto;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

/* Content Page Home */

.container {
  min-height: 85vh;
  background-image: url(../assets/clientWoman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 1rem;

  display: flex;
  flex-direction: row-reverse;
}

.title.ant-typography {
  margin-right: 1rem;
  color: rgb(21, 45, 110);
  font-weight: 700;
}

.cardHome {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2rem;

}

.ant-typography.paragraph {
  font-size: 1rem;
} 
/*-------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header .logo {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}


/* Component Contact */
.contact {
  height: 90vh;
  min-height: 85vh;
  background-image: url(../assets/contactMenu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 1rem;
  
  display: flex;
  align-items: center;
  

}

.cardContact {
  margin-right: auto;

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2rem;

}


.cardCreateService {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cardCreateService .form {
  width: 90vw;
  background-color: rgba(0, 29, 73, 0.7);
  text-align: center;
}

.ant-form.ant-form-horizontal {


}